/* Rotation Effect Img */

.imganimation
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 65vh;
  background: #B3B3B3;
}
.imgbox
{
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: rotateimg 20s linear infinite;
}
@keyframes rotateimg
{
  0%
  {
    transform: perspective(1000px) rotateY(0deg);
  }
  100%
  {
    transform: perspective(1000px) rotateY(360deg);
  }
}
.imgbox span
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i)*45deg)) translateZ(400px);
}
.imgbox span img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Gallery */

.gallery_body
{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    transition:all .2s cubic-bezier(.34,1.12,.68,1.31);
}

.gallery{
    min-height: 100vh;
    background:#eee;
    padding-bottom: 100px;
}

.gallery .controls{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:20px 0;
    list-style: none;
}

.gallery .controls .buttons{
    height:35px;
    width: 100px;
    background:#fff;
    color:#666;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 35px;
    cursor: pointer;
    margin:10px;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
    text-align: center;
}

.gallery .controls .buttons.active{
    background:coral;
    color:#fff;
}

.gallery .image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery .image-container .image{
    height:250px;
    width: 350px;
    overflow: hidden;
    border:15px solid #fff;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
    margin: 20px;
}

.gallery .image-container .image img{
    height: 100%;
    width:100%;
    object-fit: cover;
}

.gallery .image-container .image:hover img{
    transform: scale(1.4);
}

/* Filetr Button */
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);

.containerbutton {
  width: 270px;
  height: 50px;
  margin:0 auto;
  display:block;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.five {
  border: none;
  border-radius: 4px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.48);
  overflow: hidden;
  padding: 20px 50px 20px 70px;
  margin-bottom: 20px;
  font-size: 20px;
  position: relative;
  color: white;
  outline: none;
  cursor: pointer;
  width: 100%;
  -webkit-transition: background-position .7s,box-shadow .4s;
  transition: background-position .7s,box-shadow .4s;
  background-size: 110%;
  font-family: 'Oswald', sans-serif;
}
.five:hover {
  background-position: 0% 30%;
}
.five:hover:after {
  right: -40px;
  -webkit-transition: right .4s,-webkit-transform 30s .2s linear;
  transition: right .4s,-webkit-transform 30s .2s linear;
  transition: right .4s,transform 30s .2s linear;
  transition: right .4s,transform 30s .2s linear,-webkit-transform 30s .2s linear;
}
.five:before, .five:after {
  font-family: FontAwesome;
  display: block;
  position: absolute;
}
.five:before {
  -webkit-transition: all 1s;
  transition: all 1s;
  font-size: 30px;
  left: 25px;
  top: 19px;
}
.five:after {
  -webkit-transition: right .4s, -webkit-transform .2s;
  transition: right .4s, -webkit-transform .2s;
  transition: right .4s, transform .2s;
  transition: right .4s, transform .2s, -webkit-transform .2s;
  font-size: 100px;
  opacity: .3;
  right: -120px;
  top: -17px;
}



.five {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 10px 0px #DE3964;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#DE3964), to(rgba(154, 40, 87, 0.24))), url("http://nightlifeassociates.com/wp-content/uploads/2014/03/hakkasan-nightclub_tiesto-smalls.jpg");
  background-image: linear-gradient(to bottom, #DE3964, rgba(154, 40, 87, 0.24)), url("http://nightlifeassociates.com/wp-content/uploads/2014/03/hakkasan-nightclub_tiesto-smalls.jpg");
}
.five:hover {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 30px 0px #DE3964;
}
.five:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.five:hover:before {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.five:after, .five:before {
  content: "";
}
.five b {
  color: #F764FF;
  font-weight: 700;
}
